# this is comment

# ignore all start with . in the root dir
/.*

# ignore all files and dir starting with .
.*

# ignore objects / middle output source
*.class
*.pyc
*.o
*.swp
*.bak
~*.*

target
project/target


# but, I won't ignore following
!.gitignore



